body{
    background-color: #1ED760;
    background-image: url("./fondo.png");
    background-repeat:repeat;
    /* background-position:center; */
    background-size: 100px;
}

h1{
    color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

.card{
    background-color:black;
    width: 400px;
    text-align: center;
    display: inline-block;
}
.card img{
    width: 400px;
}
h2{
    color: #1ED760;
}
.card p{
    color: #1ED760;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}